<div id="<%= dom_id book %>">

  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Read:</strong>
    <%= book.read %>
  </p>

  <p>
    <strong>Pending:</strong>
    <%= book.pending %>
  </p>

</div>
